@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
/* WHOLE SITE */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

 font-family: "Poppins", sans-serif;
}

header {
    background: tan;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-logo .logo-text {
    color: maroon;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}


.navbar .nav-menu .nav-link {
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 13px;
  transition: 0.3s ease;
}


.navbar .nav-menu .nav-link:hover {
     background: maroon;
     color: white;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img 
{
 width: 100%;
}

main {
    align-items: center;
}

.sction-content {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    padding: 40px 0 70px;
    text-transform: uppercase;
    font-size: x-large;
}


.about-section {
    padding: 120px 0;
    background: lightcoral;
}

.about-section .section-content {
    gap: 70px;
    flex-direction: column;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: xx-large;
}


.about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
}
