*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


body {
 display: flex;
 flex-direction: column;
 padding: 20px;
 align-items: center;
justify-content: center;
margin: 50px;
 background: url(home.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}

header .navbar {
    padding: 20px;
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
}
.navbar .nav-logo .logo-text {
    color: maroon;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}


.navbar .nav-menu .nav-link {
  color: maroon;
  text-transform: capitalize;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 17px;
  transition: 0.3s ease;
}


.navbar .nav-menu .nav-link:hover {
     background: maroon;
     color: white;
}



.wrapper h1 {
color: black;
font-size: 40px;
}
.wrapper {
  width: 400px;
  background: yellowgreen;
  color: bisque;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    background: white;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 40px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    color: black;
    padding: 20px 45px 20 px 20px;
}


