
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
/* WHOLE SITE */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

 font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img 
{
 width: 100%;
}

.sction-content {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    padding: 40px 0 70px;
    text-transform: uppercase;
    font-size: x-large;
}

/* NAVBAR */

header {
    background: tan;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-logo .logo-text {
    color: maroon;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}


.navbar .nav-menu .nav-link {
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 13px;
  transition: 0.3s ease;
}


.navbar .nav-menu .nav-link:hover {
     background: maroon;
     color: white;
}

.Home-section {
    min-height: 100vh;
    background: tan;
}


.Home-section .section-content {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
    justify-content: space-between;
}

.Home-section .Home-details .title {
    font-size: xx-large;
    color: maroon;
    font-family: "Miniver", sans-serif;
    margin-left: 10px;
}

.Home-section .Home-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: x-large;
    font-weight: bold;
}

.Home-section .Home-details .description {
    font-size: medium;
    max-width: 70%;
    margin: 24px 0 40px;
}

.Home-section .Home-details .buttons {
    display: flex;
    gap: 25px;
}

.Home-section .Home-details .button {
    padding: 10px 26px;
    color: black;
    background: lightsteelblue;
    font-weight: normal;
    border: 2px solid transparent;
}

.Home-section .Home-details .button:hover, 
.Home-section .Home-details .Contact-us {
    color: white;
    border-color: white;
    background: transparent;
    transition: 0.3s ease;
}
.Home-section .Home-details .Contact-us:hover {
    color: white;
    border-color: lightblue;
    background: lightsteelblue;
}

.Home-section .Home-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}


